/*   color variables */
$clr-negative: #ff1744;
$clr-positive: #2abf77;
$clr-gray100: #f0f7f8;
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;
$clr-gray400: #6b7e86;
$clr-gray500: #425a65;

.Counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  // background-color: $clr-gray100;
  color: $clr-gray500;
}

h1.count {
  font-size: 6rem;
}

.increment-button-wrapper.button-wrapper {
  & > * {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
  }
}

.button-wrapper {
  display: flex;
  gap: 1rem;

  & > * {
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px $clr-gray200;
    font-weight: bold;
    font-size: 2rem;
    color: $clr-gray500;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;

    &:hover {
      background-color: $clr-gray200;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.negative {
  color: $clr-negative;
  animation: negativePulse 500ms ease-in-out;
}

.positive {
  color: $clr-positive;
  animation: positivePulse 500ms ease-in-out;
}

@keyframes negativePulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
@keyframes positivePulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
